@(askForm: Form[controllers.account.ResetController.AskForm])

@import helper._

@implicitFieldConstructor = @{
    FieldConstructor(bootstrapInputField.render)
}


@main() {

    <div class="col col-lg-8">
        <h3>@Messages("resetpassword")</h3>

        @form(controllers.account.routes.ResetController.runAsk()) {

            <div class="form-group">
            @inputText(
                askForm("email"),
                'placeholder -> Messages("email"),
                '_label -> null,
                'class -> "form-control",
                '_showConstraints -> false
            )
            </div>

            <hr>
            <input type="submit" class="btn btn-primary" value="@Messages("reset")">

            <a href="@routes.HomeController.index" class="btn btn-default">@Messages("goback")</a>

        }

    </div>


}
