@(member: Boolean, team: Team, athletes: List[javastrava.api.v3.model.StravaAthlete])


@main("Acceler8") {

    
    @views.html.dashboard.navigation("")
				
	
	<div id="page-wrapper">			
        <div class="row">
            <div class="col-lg-12">
		        <h1 class="page-header">@team.getName()</h1>
            </div>
        </div>
        
                
        <div class="row">
            <div class="col-lg-12">
            @if(member) {
			  
			  <a href="@routes.TeamController.leave(team.getId())" class="btn btn-danger btn-lg" role="button">Leave</a>
			} else {
			  
			  <a href="@routes.TeamController.join(team.getId())" class="btn btn-success btn-lg" role="button">Join</a>
			}
		        
            </div>
        </div>
        
        
        <div class="row">
        	<div class="col-lg-4">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <i class="fa fa-bell fa-fw"></i> Team Details
	                </div>
	
	                <div class="panel-body">
	                	
	                    <div class="list-group">
	                        <a href="#" class="list-group-item">
	                            <i class="fa fa-comment fa-fw"></i> @team.getName
	                            <span class="pull-right text-muted small"><em>@team.getDescription</em>
	                            </span>
	                        </a>
	                    </div>
	                    
	                    @for(athlete <- athletes) {
	                    
                        <div class="row">
					        <div class="profile-header-container">   
					    		<div class="profile-header-img">
					                <img class="img-circle" src="@athlete.getProfileMedium()" />
					                <!-- badge -->
					                <div class="rank-label-container">
					                    <span class="label label-default rank-label">100 Points @athlete.getWeight()</span>
					                    <a href="@routes.TeamController.remove(team.getId())" class="btn btn-danger btn-lg" role="button">Remove</a>
					                </div>
					            </div>
					        </div> 
						</div>
            
	                    
	                    }
	                    
	                    
	                    
	                    
	                    
	                </div>
	            </div>    
        	</div>
        </div>
	</div>

}