@(products: List[Product])

@main("Products catalogue") {
<h2>All products</h2>
<table class="table table-striped">
<thead>
	<tr>
		<th>EAN</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
</thead>
<tbody>



@*
@for(product <- products) {
	<tr>
		<td><a href="@routes.ProductController.details(product.ean)">
		@product.ean
		</a></td>
		<td><a href="@routes.ProductController.details(product.ean)">
		@product.name</a></td>
		<td><a href="@routes.ProductController.details(product.ean)">
		@product.description</a></td>
		<td>
			<a href="@routes.ProductController.details(product.ean)">
				<i class="glyphicon glyphicon-remove"></i>
			</a>
			<a onclick="del('@routes.ProductController.delete(product.ean)')">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
		</td>
	</tr>
	}
	</tbody>
	</table>
	<a href="@routes.ProductController.newProduct()" class="btn"><i class="glyphicon glyphicon-new"></i> New product</a>
*@
}
