@(teams: List[Team])

@main(Messages("title") + " - " + Messages("coachedteams.title")) {

    @navigation()
				
	<div id="page-wrapper">			
        <div class="row">
            <div class="col-lg-12">
		        <h1 class="page-header">@Messages("coachedteams.title")</h1>
            </div>
        </div>
        
        
        <div class="row">
        	<div class="col-lg-8 col-md-8">
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                    <i class="fa fa-gavel fa-fw"></i> @Messages("coachedteams.panel.title")
	                </div>
	
	                <div class="panel-body">
	                	@for(team <- teams) {
	                    <div class="list-group">
	                        <a href="@routes.TeamController.show(team.getId)" class="list-group-item">
	                            <i class="fa fa-expand fa-fw"></i> @team.getName
	                            <span class="pull-right text-muted small"><em>@team.getDescription</em>
	                            </span>
	                        </a>
	                    </div>
	                    }
	                    
	                    <a href="@routes.TeamController.newTeam()" class="btn btn-default btn-block btn-primary">@Messages("coachedteams.create")</a>
	                </div>
	            </div>    
        	</div>
        </div>
	</div>

}