@(teams: List[Team])


@main("Acceler8") {

    
    @navigation()
				
	
	<div id="page-wrapper">			
        <div class="row">
            <div class="col-lg-12">
		        <h1 class="page-header">My Teams</h1>
            </div>
        </div>
        
        
        <div class="row">
        	<div class="col-lg-8 col-md-8">
	            <div class="panel panel-success">
	                <div class="panel-heading">
	                    <i class="fa fa-heart fa-fw"></i> You're a member of the following teams:
	                </div>
	
	                <div class="panel-body">
	                	@for(team <- teams) {
	                    <div class="list-group">
	                        <a href="@routes.TeamController.show(team.getId)" class="list-group-item">
	                            <i class="fa fa-expand fa-fw"></i> @team.getName
	                            <span class="pull-right text-muted small"><em>@team.getDescription</em>
	                            </span>
	                        </a>
	                    </div>
	                    }
	                    
	                    <a href="@routes.TeamController.index()" class="btn btn-default btn-block alert-success">Join a team ...</a>
	                </div>
	            </div>    
        	</div>
        </div>
	</div>

}