@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Acceler8") {


<h1>Acceler8</h1>
<a href="@message">
	<img src="@routes.Assets.versioned("images/LogInWithStrava2x.png")" alt="Login" style="width:315px;height:63px;">
</a>
	<div>This is the link:</div>
	<a href="@message">@message</a>
    
    @* 
    * @play20.welcome(message, style = "Java")
    *@
}
