@(signupForm: Form[Register], loginForm: Form[Login])

@scripts = { }

<style>

body { 
	background: url("/assets/images/bg1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	
</style>

@main("Acceler8", null, scripts) {

  <div class="col-lg-6">
      Acceler8 - Coaching4Strava
  </div>

  <div class="col-lg-6">
    <div class="well">
      @login(loginForm)
    </div>

    <div class="well">
      @views.html.account.signup.createFormOnly(signupForm)
    </div>
  </div>
}