<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="@routes.DashboardController.index()">Acceler8</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                	<a href="@controllers.account.routes.ProfileController.index"><i class="fa fa-user fa-fw"></i> @Messages("navigation.userprofile")</a>
                </li>
                <li>
                	<a href="@controllers.account.routes.SettingsController.index"><i class="fa fa-gear fa-fw"></i> @Messages("navigation.settings")</a>
                </li>
                <li class="divider"></li>
                <li>
                	<a href="@routes.HomeController.logout"><i class="fa fa-sign-out fa-fw"></i> @Messages("navigation.logout")</a>
                </li>
            </ul>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="@routes.DashboardController.index()"><i class="fa fa-dashboard fa-fw"></i> @Messages("navigation.dashboard")</a>
                </li>
                <li>
                    <a href="@routes.TeamController.my()"><i class="fa fa-heart fa-fw"></i> @Messages("navigation.myteams")</a>
                </li>
                <li>
                    <a href="@routes.TeamController.coached()"><i class="fa fa-gavel fa-fw"></i> @Messages("navigation.coachedteams")</a>
                </li>
                <li>
                    <a href="@routes.TeamController.index()"><i class="fa fa-list fa-fw"></i> @Messages("navigation.allteams")</a>
                </li>
                <li>
                    <a href="@routes.TeamController.newTeam()"><i class="fa fa-plus fa-fw"></i> @Messages("navigation.createteam")</a>
                </li>
            </ul>
        </div>
    </div>
</nav>