@(settingsForm: Form[models.vm.Settings])


@implicitFieldConstructor = @{
    helper.FieldConstructor(bootstrapInputField.render)
}

@main(Messages("title") + " - " + Messages("settings.title")) {

	@navigation()
	<div id="page-wrapper">
	
	    <div class="row">
	        <div class="col-lg-12">
	      		<h1 class="page-header">@Messages("settings.title")</h1>
	        </div>
	    </div>
	
		<div class="row">
			<div class="col-lg-6 col-md-6">

  				<div class="panel panel-primary">
	                <div class="panel-heading">
	                    <i class="fa fa-road fa-fw"></i> @Messages("settings.panel.title")
	                </div>
	                <div class="panel-body">
						@helper.form(action = controllers.account.routes.SettingsController.save(), 'role -> "form") {
							<fieldset>
							
							@helper.inputText(
					            settingsForm("email"),
					            '_label -> Messages("Mail"),
					            'class -> "form-control",
					            '_showConstraints -> false,
					            'disabled -> "disabled"
					        )
							
							@helper.inputPassword(
					            settingsForm("password"),
					            'placeholder -> Messages("password"),
					            '_label -> Messages("password"),
					            'class -> "form-control",
					            '_showConstraints -> false
					        )
					        
					        @helper.inputPassword(
					            settingsForm("passwordConfirmation"),
					            'placeholder -> Messages("password"),
					            '_label -> Messages("password"),
					            'class -> "form-control",
					            '_showConstraints -> false
					        )
					        
					        @helper.inputText(
					            settingsForm("strava_token_public"),
					            'placeholder -> Messages("settings.publictoken.p"),
					            '_label -> Messages("settings.publictoken.l"),
					            'class -> "form-control",
					            '_showConstraints -> false
					        )
					       
					        
					        
							<div class="form-group">
							  <label class="control-label" for="submit"></label>
							  <div class="controls">
							    <button id="submit" name="submit" class="btn btn-primary">@Messages("save")</button>
							    <a class="btn" href="@routes.DashboardController.index()">@Messages("cancel")</a>
							  </div>
							</div>
							
							</fieldset>
						}
                	</div>
            	</div>
			

			</div>
			
			<div class="col-lg-6 col-md-6">
       			<div class="panel panel-strava">
                    <div class="panel-heading">
                        <i class="fa fa-bar-road fa-fw"></i>Strava authorization
                    </div>
                    <div style="margin-top:40px;" class="panel-body @if(settingsForm("authorized").value.toBoolean) {panel-success} else {panel-danger}">
                    	<a href="@settingsForm("authorizationUrl").value">
						<img src="@routes.Assets.versioned("images/LogInWithStrava2x.png")" alt="Strava renew authorization" class="img-responsive" style="width:315px;height:63px;">
						</a>

						<div style="margin-top:40px;"" class="alert alert-@if(settingsForm("authorized").value.toBoolean) {success} else {danger} alert-dismissible" role="alert" style="margin-top:10px">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						@if(settingsForm("authorized").value.toBoolean){
							<p>@Messages("settings.info.authorized")</p>
							<a href="@controllers.account.routes.SettingsController.deauthorize">@Messages("settings.info.deauthorize")</a>
						}else{
							<p>@Messages("settings.info.notauthorized")</p>
						}
						</div>
						
                    </div>
                </div>
			</div>
			
		</div>
		
		
	</div>
}